.appLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.appContent {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff0f5;
}

.appInnerContent {
    max-width: 800px;
    margin: 0 auto;
}

.footer {
    background-color: #f8f9fa;
    padding: 15px 0;
    text-align: center;
}

/* Tabs styles */
.tabsMenu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #eee;
}

.tabItem {
  display: flex;
  align-items: center;
}

.tabItem button {
  background: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  color: #c15b78;
  font-family: cursive;
  transition: all 0.3s ease;
}

.tabItem button:hover {
  color: #fff;
  background-color: #c15b78;
  border-radius: 5px;
}

.activeTab button {
  color: #fff;
  background-color: #c15b78;
  border-radius: 5px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #ddd;
  margin: 0 10px;
}
